/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2e42;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: #1b263b;
  color: #fdfdfd;
  padding: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Passion One", cursive;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.scoreboard-header {
  color: #fdfdfd;
  justify-content: center;
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.scoreboard-header h2 {
  margin-bottom: 0.5rem;
}

.scoreboard-header p {
  opacity: 0.8;
}

.scoreboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.scores {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.scores p {
  color: #fdfdfd;
  text-align: center;
}

.scores img {
  width: 100px;
  margin-bottom: 2rem;
}

.score p {
  font-size: 1.3rem;
}

.weapon-container {
  display: flex;
  justify-content: center;
  margin-top: 2.7rem;
}

.rsp-buttons {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.weapon {
  width: 150px;
  display: flex;
  justify-content: center;
  /* border: 1px solid #c6c5c9; */
  border: 1px solid #f9c024;

  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}
.weapon:hover {
  top: -5px;
  background-color: #1b263b;
}

.weapon img {
  width: 100px;
}

/* ================FOOTER=========================== */

footer {
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  margin-bottom: 2rem;
}

.fa-github {
  color: #09080a;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  margin-left: 0.4rem;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
